<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %}
    {% feed_meta %}
    {% endcomment %}
    {% seo %}
    {% for item in site.data.asset %}
    {% if item.link_css %}
    <link rel="stylesheet" href="{{ item.link_css }}">
    {% if item.link_icon %}
    {% endif %}
    <link rel="icon" type="image/svg+xml" href="{{ item.link_icon%}}">

    {% endif %}
    {% endfor %}
    <link rel="alternate icon" class="js-site-favicon" type="image/png" href="https://github.githubassets.com/favicons/favicon.png">
</head>