@keyframes love { to { transform: scale(1.1); } }
@-moz-keyframes love { to { -moz-transform: scale(1.1); } }
@-webkit-keyframes love { to { -webkit-transform: scale(1.1); } }
html { scroll-behavior: smooth; }
//body{ background-color: #ffffff; }
body {
  background-color: $nord0;
  color: $nord8;
}
.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  color: #ff79c6;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}
.footer { width: 100%; height: 40px; }
